{{define "ai/layout/header"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Extra.site.title}}{{if .Extra.page.title}} - {{.Extra.page.title}}{{end}} </title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ if .Extra.page.description }}<meta name="description" content="{{.Extra.page.description}}">{{end}}
    {{ if .Extra.page.keywords }}<meta name="keywords" content="{{.Extra.page.keywords}}">{{end}}

    <meta name="description" content="{{.Extra.site.description}}">
    <meta name="keywords" content="{{.Extra.site.keywords}}">
    
    {{vite "src/main.js"}}
    {{vite "src/scss/main.scss"}}
</head>

<body class="p-0 m-0 min-h-screen flex flex-col bg-gray-50 max-w-full mx-auto">

    <header class="font-light bg-white text-dark p-2 flex flex-row items-center sticky top-0">

        <div class="flex flex-col">
            <a href="/">
                <span class="text-primary bg-background px-2 text-2xl font-bold font-italic">{{.Extra.site.title}}</span>
            </a>
            {{ if .Extra.site.description }}
            <span class="text-10px text-gray">{{.Extra.site.description}}</span>
            {{end}}
        </div>


        <div class="navbar ml-15 mt-5px text-dark-100 px-0 py-1 text-14px gap-2 flex flex-row">
            <a class="link {{if isActiveUrl "/" .Extra.request}}link_on{{end}}" href="/">AI Products Navigatior</a>
            <a class="link {{if isActiveUrl "/learn" .Extra.request}}link_on{{end}}" href="/learn">Learn AI</a>

            <a class="link {{if isActiveUrl "/make-my-ai-design-to-production.html" .Extra.request}}link_on{{end}}" href="/make-my-ai-design-to-production.html">Make My AI Design to Production</a>
        </div>


        <div class="flex-1"></div>

        <a class="btn btn-primary large-btn bg-primary text-white hover:bg-primary hover:text-white">Book Now.</a>

    </header>


    <!-- <div class="banner w-full h-600px"></div> -->

    {{end}}